body {
  width:100%;
  height:auto;
  background-color: white;
}

#memeOne {
  left:2%;
  width:46%;
  height: auto;
}

.inline-block {
   display: inline-block;
}

.bg{
  width:100%;
  height:auto;
}

#memeTwo {
  right:2%;
  width:46%;
  height: auto;
}
